@use "variables" as v;

body {
    margin: 0;
    padding: 0;
    background-color: v.$primaryColor;
}

.title, .form {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.form {

    &__input, &__btn {
        padding: 10px 20px;
        border: none;
        background-color: white;
        
    }
}
    

   



.bi {
    font-size: 20px;
}

form button:hover {
    background-color: rgb(237, 234, 234);
    color: white;

}

.list {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
   
   

    &__container {
        width: 40%;
        list-style-type: none;
    }

    &__item {
        background-color: white;
        color: black;
        margin: 0.5rem;
        padding: 10px;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
    }

    &__checkbtn {
        background-color: white;
        border: none;
        font-size: 20px;
        
    }
    
}

.complited {
    text-decoration: line-through;
    opacity: 0.5;
}


