@use "variables" as v;

body {
    margin: 0;
    padding: 0;
    background-color: v.$primaryColor;
}

.todo {
    width: 100%;

    &__title {
        font-size: 36px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        justify-content: center;
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    &__input, button {
        padding: 20px;
        background-color: white;
        outline: none;
        border: none;
        font-size: 20px;
    }

    &__btn {
        color: v.$primaryColor;
        background-color: white;
        cursor: pointer;
        transition: all 0.3 ease;
        border: none;

    }

}

.bi {
    font-size: 20px;
}

form button:hover {
    background-color: v.$primaryColor;
    color: white;

}

.list {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
   

    &__container {
        min-width: 30%;
        list-style-type: none;
    }

    &__item {
        background-color: white;
        color: black;
        margin: 0.5rem;
        padding: 15px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__checkbtn {
        background-color: white;
        border: none;
        font-size: 20px;
        
    }
    
}


