@use "variables" as v;
@use "mixins" as m;

.list {
   display: flex;
   justify-content: center;
   align-items: center;

    &__container {
        width: 60%;
        list-style-type: none;
        margin: 0;
        padding: 0;

        @include m.desktop {
           width: 30%;
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        background-color: white;
        color: black;
        margin-top: 0.5rem;
        padding: 15px;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    &__checkbtn, &__deletebtn {
        background-color: white;
        color: v.$secondaryColor;
        border: none;
        
        :hover {
            color: rgb(9, 198, 9);
        }
    }
    &__deletebtn {
       
        :hover {
            color: red;
        }
    }
    
}
.complited {
    text-decoration: line-through;
    opacity: 0.5;
}




